<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../img/logo-removebg-preview.png" type="image/x-icon">
    <title>Famous</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <header>
        <!-- para retornar ao index basta clicar na logo -->
        <a href="../../index.html" class="retorno">
            <img src="../img/logo.png" alt="logo" width="80px" height="100px">
        </a>
        <button><a href="./Esportes.html">Esportes</a></button>
        <button><a href="./Famosos.html">Famous</a></button>
        <button><a href="./conspiracoes.html">Conspirações</a></button>
        <button><a href="./autor.html">Autor</a></button>
    </header>
    <section>
        <article class="noticias" style="grid-column: 1; grid-row: 1;">
            <h2>ATENÇÃO!! HOMEM AVISTA OGA BOGAS EM REGIÃO MONTANHOSA</h2>
            <img src="../img/eu.jpg" alt="" width="300px" height="300px">
        </article>
        <article class="noticias" style="grid-column: 2; grid-row: 1;">
            <h2>ATENÇÃO!! HOMEM AVISTA OGA BOGAS EM REGIÃO MONTANHOSA</h2>
            <img src="../img/eu.jpg" alt="" width="300px" height="300px">
        </article>
        <article class="noticias" style="grid-column: 3; grid-row: 1;">
            <h2>ATENÇÃO!! HOMEM AVISTA OGA BOGAS EM REGIÃO MONTANHOSA</h2>
            <img src="../img/eu.jpg" alt="" width="300px" height="300px">
        </article>
        <article class="noticias" style="grid-column: 1; grid-row: 2;">
            <h2>ATENÇÃO!! HOMEM AVISTA OGA BOGAS EM REGIÃO MONTANHOSA</h2>
            <img src="../img/eu.jpg" alt="" width="300px" height="300px">
        </article>
        <article class="noticias" style="grid-column: 2; grid-row: 2;">
            <h2>ATENÇÃO!! HOMEM AVISTA OGA BOGAS EM REGIÃO MONTANHOSA</h2>
            <img src="../img/eu.jpg" alt="" width="300px" height="300px">
        </article>
        <article class="noticias" style="grid-column: 3; grid-row: 2;">
            <h2>ATENÇÃO!! HOMEM AVISTA OGA BOGAS EM REGIÃO MONTANHOSA</h2>
            <img src="../img/eu.jpg" alt="" width="300px" height="300px">
        </article>

    </section>
    <footer>
        © 2023 IFC CAMPUS ARAQUARI - João Victor Silva de Souza - Todos os direitos reservados
    </footer>
</body>

</html>